<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.codesnippet.transaction.dao.mapper.TransferRecordMapper">

    <resultMap id="TransferRecordEntityResultMap"
               type="com.example.codesnippet.transaction.dao.entity.TransferRecordEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="recordId" column="record_id" jdbcType="VARCHAR"/>
        <result property="fromUserId" column="from_user_id" jdbcType="VARCHAR"/>
        <result property="toUserId" column="to_user_id" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="DOUBLE"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="transferAt" column="transfer_at" jdbcType="TIMESTAMP"/>
        <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
        <result property="updateAt" column="update_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , record_id, from_user_id, to_user_id, amount, status, transfer_at, create_at, update_at
    </sql>

    <select id="selectByRecordId" resultMap="TransferRecordEntityResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_transfer_record
        where record_id = #{recordId,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.example.codesnippet.transaction.dao.entity.TransferRecordEntity">
        insert into t_transfer_record (record_id, from_user_id, to_user_id, amount, status, transfer_at, create_at, update_at)
        values (#{recordId,jdbcType=VARCHAR}, #{fromUserId,jdbcType=VARCHAR}, #{toUserId,jdbcType=VARCHAR},
                #{amount,jdbcType=DOUBLE}, #{status,jdbcType=VARCHAR}, #{transferAt,jdbcType=TIMESTAMP},
                #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateStatus">
        update t_transfer_record
        set status = #{status,jdbcType=VARCHAR}, update_at = #{updateAt,jdbcType=TIMESTAMP}
        where record_id = #{recordId,jdbcType=VARCHAR}
    </update>
</mapper>